@import 'variables.scss', 'animate.scss', '../fontawesome/css/all.min.css';

@font-face {
  font-family: $theme-font-regular;
  src: url("../fonts/roboto/Roboto-Regular.ttf");
}
@font-face {
	font-family: $theme-font-light;
	src: url("../fonts/roboto/Roboto-Light.ttf");
}
@font-face {
	font-family: $theme-font-bold;
	src: url("../fonts/roboto/Roboto-Bold.ttf");
}

/*******************************************************************************
*
* General Deign
*
*****************************************************************************/
html,
body {
  width: 100%;
	height: 100%;
	line-height: 1.5;
	background-color: $theme-color-white;
	color: $theme-text-color-black;
	font-family: $theme-font-light;
	font-size: $body-font-size;
	padding: 0;
	margin: 0;
	letter-spacing: 0.08em;
	scroll-behavior: smooth;
}

h1 {
	font-size: $h1-font-size;
}

h2 {
	font-size: $h2-font-size;
}

h3 {
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}

h5 {
	font-size: $h5-font-size;
}

h6 {
	font-size: $h6-font-size;
}

section {
	padding-top: 32px;
	padding-bottom: 132px;

	.title {
		font-family: $theme-font-bold;
		margin-top: 194px;
		margin-bottom: 64px;
	}
}

.releases-list {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(14em,1fr));
	grid-gap: calc(.5em + .5vw);
	padding: 0;
	margin: 0;
	list-style: none;
	li {
		display: inline-block;
	}
}

article.release {
	width: 300px;

	.image-holder {
		overflow: hidden;
		border-radius: 2px;
		img {
			width: 100%;
		}
	}

	h6 {
		font-family: $theme-font-bold;
		line-height: 1.125;
		font-weight: 700;
		margin-bottom: 0;
		margin-top: 8px;
	}
	.date {
		color: #737373;
		font-size: 14px;
		font-family: $theme-font-regular;
	}

	.sources {
		color: #737373;
		font-size: 14px;
		font-family: $theme-font-regular;
		margin-top: 2px;

		ul {
			list-style: none;
			padding: 0;
			color: #111;
			display: inline;
			line-height: 1.6;

			a {
				color: inherit;
				text-decoration: none;
				display: inline-block;
				margin-left: .375em;
				margin-right: .375em;
				font-weight: 700;
				&:hover {
					color: $theme-color;
				}
			}
		}
	}
}
/*******************************************************************************
* NavBar
*****************************************************************************/
.#{$app-name}-nav {
	text-align: initial;
	background: rgba(255,255,255,0.9);
	color: #111;
	line-height: 0;
	min-height: 48px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 2;
	padding: 5px;
	 
	.banner {
		font-size: 1em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		flex-basis: 0;

		a {
			font-family: $theme-font-bold;
			display: inline-block;
			color: inherit;
			text-decoration: none;
			line-height: 48px;
			font-size: 20px;
			font-weight: 700;
			margin-left: 0;
			margin-right: 0;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			height: 48px;
			padding-left: 8px;
			padding-right: 8px;

			&:hover {
				color: $theme-color;
			}
		}
	}

	ul.nav {
		li.nav-item {
			a.nav-link {
				font-family: $theme-font-regular;
				line-height: 40px;
				font-size: 14px;
				height: 40px;
				padding-left: 16px;
				padding-right: 16px;
				color: #111;
				margin-left: 0;
				margin-right: 0;
				text-transform: uppercase;
				display: inline-block;

				&:hover {
					color: $theme-color;
				}
			}
		}
	}

	.navbar-toggler {
		color: #111;
		display: none;
		&:hover {
			color: $theme-color;
		}
	}
}

/*******************************************************************************
* Footer
*****************************************************************************/
footer {
	line-height: 1.5;
	color: #111;
	text-align: center;

	strong {
		font-family: $theme-font-bold;
		display: inline-block;
		font-size: 14px;
		margin-bottom: 16px;
	}

	.social {
		a {
			font-size: 32px;
			margin-left: 8px;
			margin-right: 8px;
			text-decoration: none;
			display: inline-block;
			padding: 8px;
			color: inherit;
			&:hover {
				color: $theme-color;
			}
		}
	}

	hr {
		margin-top: 64px;
		width: 40px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
		border: 2px solid rgba(0,0,0,0.1);
	}

	small {
		padding-top: 32px;
		padding-bottom: 32px;
		display: block;
		padding-left: 16px;
		padding-right: 16px;
		margin-top: 16px;
		color: #737373;
	}
}
/*******************************************************************************
* Home Page
*****************************************************************************/
.hero-col {
	margin-bottom: 32px;
}
.hero {
	margin-top:58px;
	margin-right: -15px;
	margin-left: -15px;
	min-height: 590px;
	color: #fff;
	text-align: center;
	background: rgb(17, 17, 17) none repeat scroll 0% 0%;

	&::after {
		position: absolute;
		top: 58px;
		left: 0px;
		width: 100%;
		height: 100%;
		content: " ";
		opacity: 0.7;
		background: rgba(0, 0, 0, 0) linear-gradient(150deg, rgb(0, 119, 204) 10%, rgb(17, 17, 17) 60%, rgb(17, 17, 17) 100%) repeat scroll 0% 0%;
	}

	.text-holder {
		z-index: 1;
		width: 100%;

		h1 {
			font-family: $theme-font-bold;
			font-weight: 700;
			margin-bottom: 64px;
		}
	
		p {
			font-family: $theme-font-regular;
			font-size: 24px;
			margin-bottom: 64px;
			width: 900px;
		}
	
		.social {
			a {
				font-size: 32px;
				margin-left: 8px;
				margin-right: 8px;
				text-decoration: none;
				display: inline-block;
				padding: 8px;
				color: inherit;
				&:hover {
					color: $theme-color;
				}
			}
		}
	}
}

/*******************************************************************************
* Errors Page
*****************************************************************************/
.error {
	margin-right: -15px;
	margin-left: -15px;
	min-height: 450px;
	text-align: center;
	color: rgba(0, 0, 0, 0.8);
	.text-holder {
		z-index: 1;
		width: 100%;

		h1 {
			font-family: $theme-font-bold;
			font-size: 80px;
			font-weight: 700;
			margin-bottom: 20px;
		}
	
		p {
			font-family: $theme-font-regular;
			font-size: 24px;
			width: 900px;
		}

		span {
			color: $theme-color;
		}
	}
}
/*******************************************************************************
* Responsive Design
*****************************************************************************/
@import 'responsive.scss';